body{
    background-color: #f8e2f7;    
}
head{
    text-align: center;
}
title{
    left: 50%;
    color: blueviolet;
    text-align: center;
}
output{
    color: #3a0838;
}
img{
    position: absolute;
    margin-left: 50%;
}
label{
    color: #741e71;
}

#map {
    height: 500px;
    width: 40%;
    position: absolute;
    justify-content: center;
    display: flex;
    gap: 10px;
}

